name: Publish

on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
          fetch-tags: true
      - uses: actions/setup-node@v3
        with:
          node-version: '18.17.1'
      - uses: pnpm/action-setup@v4
      - run: pnpm install --frozen-lockfile
      - run: pnpm build
      - run: pnpm test:git
      - run: pnpm test

      - run: pnpm config set "//registry.npmjs.org/:_authToken=${NPM_TOKEN}"
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      - run:
          pnpm publish -r --report-summary --publish-branch main --access=public

      - name: Setup GH user
        run: git config user.name ${{ secrets.GH_USER }}
      - name: Setup GH email
        run: git config user.email ${{ secrets.GH_EMAIL }}
      - run: pnpm changeset tag
      - run: git push --tags

      - run: pnpm slack:notify
        env:
          SLACK_TOKEN: ${{ secrets.SLACK_TOKEN }}

      # deprecate any outstanding @next builds, if any
      # - run: pnpm next:deprecate
